#title, #controls {
    color: white;
    padding: 5px;
    position: relative;
}
#controls {
    font-size: 12px;
    text-align: center;
}
#forward {-moz-transform: scaleX(-1);-webkit-transform: scaleX(-1);-o-transform: scaleX(-1);-ms-transform: scaleX(-1);transform: scaleX(-1);}

section {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: top .4s ease-out 0s;
    top: -100%;
    background-color: #000;
    background-size: contain;
    background-position:center;
    background-repeat:no-repeat;
}

section[aria-selected] ~ section {
    top: 100%;
}

section[aria-selected] {
    top: 0;
    pointer-events: auto;
}
section img{width:100%;height:auto;transform: translate(0%, -50%);top:50%;position:absolute;}
#controls {
    border-radius:25px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    background: #387fd7;
    color: #fff;

}
#back{transform: rotate(90deg);}
#next{transform: rotate(-90deg);}
#controls a{
    margin:0!important;font-size:11px;
    padding:10px;
}
#controls a, #controls p{display:inline-block;}
#controls p{margin-bottom:0;}

