.offcanvas {
    position: fixed;
    z-index: 1000;
    display: none;
    transform: translate3d(0, 0, 0);
    transition: transform 800ms cubic-bezier(0.645, 0.045, 0.355, 1)
}
.offcanvas--right {
    top: 0;
    right: -275px;
    width: 275px;
    height: 100vh
}
.offcanvas--right--active { transform: translate3d(-275px, 0, 0) }
.offcanvas--initialized { display: block }
