html {
  touch-action: manipulation;overflow:hidden;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
@media (min-width: 1600px){
  .container {width: 1440px;}
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
@media (min-width: 768px){
  .navbar-header {
    float: none;
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a:focus{outline:none;}

body{
  font-family: 'Open Sans',PingFangTC-Regular, PingFangTC, PingFangHK-Regular, PingFangSC-Regular, "Microsoft JhengHei UI","Microsoft JhengHei", sans-serif;
  font-size: 12px;
  color: #2e3d49;
  line-height: 1.87;
  background:#000;
  overflow:hidden;
}

h1,h2,h3,h4,h5,h6,p{letter-spacing: 1px;line-height:1.54;}
h6{font-size:12px;}
h5{font-size:14px;}
h4{font-size:15px;}
h3{font-size:18px;}
h2{font-size:20px;}
h1{font-size:24px;}
p{font-size:15px;line-height:1.87;}

header.site-header{
  position:fixed;
  top:0;
  padding:10px;
  width:100%;
  height: 40px;
  background: rgba(#7D97AD, .6);
  z-index:5;
  font-size: 12px;
  letter-spacing: 0.9px;
  text-align: left;
  color: #ffffff;
  span{
    float:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
  }
  @media(min-width:768px){
    padding:10px 35px;
  }
}

#logo{
  display:inline-block;
  margin-right:10px;
  position:relative;top:-2px;float:left;
  @media(min-width:768px){
    margin-right:30px;
  }
}
#sticky-icon{
  position: fixed;
  right: 0;
  width: 45px;
  margin-right:35px;
  height:100%;
  top:0;
  padding: 50px 0 0;
  transform: translate3d(0, 0, 0);
  transition: transform 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
  list-style: none;
  a{display:block;opacity:.4;transition:all .25s ease;margin:20px 0;cursor:pointer;}
  a:hover{opacity:1;}
  &.on{transform: translate3d(-260px, 0, 0);}
}

.videoContainer
{
  position: absolute;
  left: 0; right: 0;
  top: 50%;
  padding-bottom: 56.2%;
  margin-top: -28.1%;
  height: 0;
  width:100%;
  overflow: hidden;
  transition: all .4s ease-out;

}
.videoContainer video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoContainer .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoContainer .cover img{
  display:block;
  width:100%;
}
.tooltip{
  margin-top:10px;
}
.tooltip-inner {
  background-color: #387fd7;
  border-radius:5px;
}
.tooltip.left .tooltip-arrow {
  border-left-color:#387fd7;
  margin-top:-13px;
}
.tooltip.left {
  margin-left: -20px;
}
.sidenav{
  background-color: rgba(0,0,0,.7);
  color: #fff;
  text-align: center;
  header{
    font-size: 12px;
    letter-spacing: 0.9px;
    text-align: left;
    color: #9b9b9b;
    padding:8px 20px;
  }
  h5{
    background:#29333a;
    color:#9B9B9B;
    padding:10px 20px;
    margin:0;
    text-align:left;
  }
  ul{text-align:left;padding:0;list-style: none;}
  li{
      position:relative;
      padding:10px 40px;
    &:before{
      content: "•";
      color:#9b9b9b;
      font-size:25px;
      position:absolute;
      top:-1px;
      left:24px;
    }
  }
  .handout li{padding-left:20px;}
  .handout li:before{
    content:none;
  }
  .handout img{display:inline-block;margin-right:10px;}
  li.active{
    background:rgba(108, 190, 227, 0.5);
    &:before{
      color: #6cbee3;
    }
  }
  a{
    color:#fff;
    font-size:14px;
    cursor:pointer;
    &:hover{text-decoration:none;}
  }
  .duration{
    display:block;
    font-size: 10px;
  }
  img.pull-right {width:14px;margin-top:5px;}
}

video[poster]{
  height:100%;
  width:100%;
}

.slide-wrapper{
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;
  transition: all .4s ease-out;
}

.video-mode .slide-visible{
  display:none;
}
.video-mode .video-visible{
  display:block;
}

.slide-mode .slide-visible{
  display:block;
}
.slide-mode .video-visible{
  display:none;
}

.video-mode .slide-wrapper{
  left:100%;
}
.video-mode .videoContainer{
  left:0;
}

.slide-mode .slide-wrapper{
  left:0;
}
.slide-mode .videoContainer{
  left:-100%;
}

.offcanvas{
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding:0 0 100px;
}
@media ( max-height: 500px ){
  #sticky-icon a {
    margin: 10px 0;
  }
  #sticky-icon{
    padding-top:40px;
  }
}

.disabled{
  color:#9b9b9b!important;
  pointer-events: none;
}